:root {
    --color-primario: #F9F9F9;
    --color-secundario: #3A5A40;
    --color-tercero: #A65D39;
    --color-cuarto: #212121;
    --color-quinto: #ff8c00;
    --color-sexto: #8d847e;
}

main {
    padding-top: 30px;
    padding-bottom: 40px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    letter-spacing: 1px;
}

.imagen-contacto img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    border-radius: 24px;
    transition: transform 0.3s ease;
}

section #titulo-contacto {
    font-size: 1.5rem;
    color: var(--color-quinto);
    text-align: left !important;
    margin-bottom: 20px;
}

.contacto-info h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.contacto-info p {
    font-size: 0.95rem;
    margin-bottom: 4px;
}

section h3 {
    color: var(--color-secundario);
}

.formulario {
    margin-top: 20px; 
    padding: 35px 28px;
    background-color: var(--color-primario);
    border-radius: 12px;
    border: 1px solid var(--color-secundario);
    width: 100%;
    max-width: 520px; 
    min-height: 580px; 
    box-shadow:
        0 10px 30px rgba(166, 93, 57, 0.15),
        0 2px 8px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.formulario:hover {
    transform: translateY(-4px);
}

.formulario form {
    display: flex;
    flex-direction: column;

}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-sexto);
}

button:active {
    transform: scale(0.85);
}

#btn-formulario {
    background-color: var(--color-quinto);
    font-size: 18px;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#btn-formulario:hover {
    background-color: var(--color-secundario);
    transform: translateY(-4px);
}


.d-flex a svg {
    transition: transform 0.2s ease, fill 0.2s ease;
    cursor: pointer;
}

.d-flex a:hover svg {
    transform: scale(1.2);
    fill: var(--color-secundario)
}

.error-mensaje {
    color: #ff0000;     
    font-size: 12px;     
    display: block;      
    height: 18px;       
    margin-top: 2px;    
    margin-bottom: 10px; 
    font-weight: 500;     

}
