:root {
    --color-primario: #F9F9F9;
    --color-secundario: #3A5A40;
    --color-tercero: #A65D39;
    --color-cuarto: #212121;
    --color-quinto: #ff8c00;
    --color-sexto: #8d847e;
    --color-septimo: #aca4a4;
    --color-octavo: rgb(72, 175, 79);
}

html, body {
    margin: 0;
    padding: 0;
}

.contacto-titulo{
    color: var(--color-cuarto);
    font-weight: bold;
}


body {
    font-family: 'Montserrat', sans-serif;
    
}

main {
    background-image: url('./imagenes/registro.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

#form {
    background-color: rgba(243, 243, 243, 0.4);
    margin: 60px;
    padding: 30px;
    border-radius: 15px;
}

.form-control{
    border-radius: 10px;
}

.btn-primary{
    background-color: var(--color-secundario)!important;
    border: none;
    border-radius: 10px;
    padding: 12px;
}

.error-mensaje{
    color: #ee0b0b;
    font-size: 0.9rem;
}

.alert{
    border-radius: 10px;
}

.formulario{
    animation: aparecer 0.8s ease;
}

.formulario h5{
    color: var(--color-cuarto);
    font-weight: 700;
    margin-top: 20px;
    padding-left: 10px;
}

.btn-registro {
    border: none;
    background-color: var(--color-secundario)!important;
}

.btn-registro:hover{
    background-color: var(--color-quinto) !important;
}

input:valid{
    border: 2px solid green;
}

input:valid:focus{
    border: 2px solid red;
}






